# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
env/
ENV/

# =========================
# Flask
# =========================
instance/
*.db
*.sqlite3

# =========================
# Environment Variables
# =========================
.env
*.env

# =========================
# Playwright
# =========================
ms-playwright/

# =========================
# Scraped Data / Datasets
# =========================
data/
datasets/
*.csv
!app/scraped_data1.csv

# =========================
# Logs
# =========================
*.log

# =========================
# Screenshots / Videos
# =========================
screenshots/
videos/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
