<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@600;700&family=Manrope:wght@400;500&display=swap" rel="stylesheet">

	<title>{% block title %}ai tools-recommender{% endblock %}
	</title>

	<style>
		body {background: url("{{ url_for('static', filename='images/ai.png') }}") no-repeat center center fixed;}
	</style>

</head>
<body>

	<!-- Page-specific content section -->

	{% block content %}{% endblock %}

	{% block scripts %}{% endblock %}


	<script>

	</script>

</body>
</html>
